<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Small Steps.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F1CE53BB2B7516FB00C75E34</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F1CE53CB2B7516FC00C75E34</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F1CE53D52B7516FC00C75E34</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
